<!-- extends base template and displays admin interface-->

{% extends 'admin/admin_base.html' %}
{% block title %} Parking App -Admin {% endblock %}



{%block content%}
<link rel="stylesheet" href="/static/view.css">
<div class="header" >Parking Lots</div>

<link rel="stylesheet" href="/static/lot_popup.css">

 {%for lot in lots%}
<div class="lot-box" style="font-size: 1.25rem; font-family: 'Shadows Into Light', 'Comic Sans MS', cursive; ">
    <h2 style="font-size: 1.5rem;font-family: 'Shadows Into Light', 'Comic Sans MS', cursive; ">{{ lot[1] }}</h2>
    <div class="lot-actions">
<label for="edit-modal-toggle-{{lot['id']}}" class="edit" style="cursor: pointer;">Edit</label> | <label for="delete-modal-toggle" class="delete" style="cursor: pointer;">Delete</label>
        <link rel="stylesheet" href="/static/popup.css">


    <input type="checkbox" id="edit-modal-toggle-{{lot['id']}}" class="modal-toggle" hidden>

    <div class="modal">
        <div class="modal-content" style="font-size: 1.25rem">
            <label for="edit-modal-toggle-{{lot['id']}}" class="close-btn" >X</label>
            <h5 style="font-size: 1.5rem">Edit Parking lot @{{lot['prime_location']}}</h5>
            <form method="POST">
                <input type="text" name="form_type" value="edit_lot">

                <input type="text" name="lot_id" value="{{lot['id']}}" hidden readonly>
                <input type="text" name="prime_location" value="{{lot['prime_location']}}" required><br>
                <input type="text" name="address" value="{{lot['address']}}" required><br>
                <input type="text" name="pincode" value="{{lot['pincode']}}" required><br>
                <input type="number" name="price" value="{{lot['price']}}" required><br>
                <input type="number" name="max_no_of_spots" value="{{lot['max_no_of_spots']}}" required><br>
                <button type="submit" style="font-size: 1.5rem">Update</button>
                        <label for="edit-modal-toggle-{{lot['id']}}" class="btn btn-secondary cancel-btn">Cancel</label>
            </form>
        </div>
    </div>

    </div>
    <div class="occupancy">(Occupied: )</div>
    <hr>

    <div class="spot-grid">
        {% for spotss in spots %}
        {%for spot in spotss%}
        {%if spot['lot_id']== lot['id']%}
            <label for="modal-{{ spot[0] }}" class="spot {% if spot[3] == 'A' %}available{% else %}occupied{% endif %}">
                {{ spot[3] }}
            </label>

            <input type="checkbox" id="modal-{{ spot[0] }}" class="modal-toggle" hidden>

            <div class="modal">
                <div class="modal-content">
                    <label for="modal-{{ spot[0] }}" class="close-btn">X</label>
                    <h4>{{ spot['spot_number'] }}</h4>
                    <p>Status: {{ spot['status']}}</p>
                    <p>{{ spot['status'] }}</p>
                </div>
            </div>
        {%endif%}
        {% endfor %}
        {%endfor%}
    </div>
</div>
{%endfor%}

<link rel="stylesheet" href="/static/popup.css">

<div style="margin-top: 40px; text-align: center;">
    <label for="modal-toggle" class="btn btn-primary-add"style="font-size:1.5rem; padding:12px 24px;">+ Add Lot</label>
</div>
    <input type="checkbox" id="modal-toggle" class="modal-toggle" hidden>

    <div class="modal">
        <div class="modal-content" style="font-size: 1.25rem">
            <label for="modal-toggle" class="close-btn" >X</label>
            <h5 style="font-size: 1.5rem">Create a New Parking Lot</h5>
            <form method="POST">
                <input type="hidden" name="form_type" value="create_lot">

                <input type="text" name="prime_location" placeholder="Lot Prime Location Name" required><br>
                <input type="text" name="address" placeholder="Address" required><br>
                <input type="text" name="pincode" placeholder="Pincode" required><br>
                <input type="number" name="max_no_of_spots" placeholder="Max Spots" required><br>
                <input type="number" name="price" placeholder="Price per Hour" required><br>
                <button type="submit" style="font-size: 1.5rem">Create Lot</button>
                        <label for="modal-toggle" class="btn btn-secondary cancel-btn">Cancel</label>
            </form>
        </div>
    </div>



{%endblock%}


