<!-- extends base template and displays admin interface -->

{% extends 'base.html' %}
{% block title %} Parking App -Admin {% endblock %}
{%block leftside%} Welcome Admin {%endblock%}


{% block rightside %} 
<li class="nav-item"><a class="nav-link" href="/admin/users" style="color: #000000;font-weight: bold;">Users</a></li>
<li class="nav-item"><a class="nav-link" href="/admin/search" style="color: #000000;font-weight: bold;">Search</a></li>
<li class="nav-item"><a class="nav-link" href="/admin/summary" style="color: #000000;font-weight: bold;">Summary</a></li>
<li class="nav-item"><a class="nav-link" href="/admin/logout" style="color: #000000;font-weight: bold;">Logout</a></li>

{% endblock %}

{%block corner%}

<div class="d-flex ms-auto">
  <a href="/admin/home" class="btn btn-outline-dark mx-1">Home</a>
  <a href="/admin/users" class="btn btn-outline-purple mx-1" style="color: #000000; border-color: #003fc7;">Users</a>
  <a href="/admin/search" class="btn btn-outline-purple mx-1" style="color: #000000; border-color: #003fc7;">Search</a>
  <a href="/admin/summary" class="btn btn-outline-purple mx-1" style="color: #000000; border-color: #003fc7;">Summary</a>
  <a href="/admin/edit_profile" class="btn btn-outline-purple mx-1" style="color: #000000; border-color: #003fc7;">Profile</a>
  <a href="/admin/logout" class="btn btn-outline-purple mx-1" style="color: #000000; border-color: #003fc7;">Logout</a>

</div>
{% endblock %}

{% block content %}
    <h1 class="text-center">Welcome to the Parking Lot Booking App!</h1>
    <p class="text-center">Book slots easily from your device.</p>
{% endblock %}
