<!-- extends base template and displays admin interface-->

{% extends 'admin/admin_base.html' %}
{% block title %} Parking App -Admin {% endblock %}

{%block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
        <th scope="row">{{user[0]}}</th>
        <td>{{user[1]}}</td>
        <td>{{user[2]}}</td>
        <td>{{user[3]}}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{%endblock%}