<!-- extends base template and displays admin interface-->

{% extends 'admin/admin_base.html' %}
{% block title %} Parking App -Admin {% endblock %}

{%block content %}
    <link rel="stylesheet" href="/static/view.css">




<div class="header">Registed Users</div>

<table class="table table-bordered table-hover table-striped mt-3">
  <thead class="table-dark">
    <tr>
      <th scope="col" class="text-center" style="font-family:'Montserrat', sans-serif;">#</th>
      <th scope="col" class="text-center" style="font-family:'Montserrat', sans-serif;">Username</th>
      <th scope="col" class="text-center" style="font-family:'Montserrat', sans-serif;">Name</th>
      <th scope="col" class="text-center" style="font-family:'Montserrat', sans-serif;">Address</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
        <th scope="row">{{user[0]}}</th>
        <td class="text-center" style="font-family:'Montserrat', sans-serif;">{{user[1]}}</td>
        <td class="text-center" style="font-family:'Montserrat', sans-serif;">{{user[2]}}</td>
        <td class="text-center" style="font-family:'Montserrat', sans-serif;">{{user[3]}}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{%endblock%}