<!-- extends base template and displays admin interface-->

{% extends 'admin/admin_base.html' %}
{% block title %} Parking App -Admin {% endblock %}



{%block content%}
<link rel="stylesheet" href="/static/view.css">
<div class="header" >Parking Lots</div>

<link rel="stylesheet" href="/static/lot_popup.css">

 {%for lot in lots%}
<div class="lot-box">
    <h2>{{ lot[1] }}</h2>
    <div class="lot-actions">
        <span class="edit">Edit</span> | <span class="delete">Delete</span>

<div style="margin-top: 40px; text-align: center;">
    <label for="modal-toggle" class="btn btn-primary"style="font-size:10px; padding:1px 2px; color: green;">+ Add Lot</label>
</div>
    <input type="checkbox" id="modal-toggle" class="modal-toggle" hidden>

    <div class="modal">
        <div class="modal-content">
            <label for="modal-toggle" class="close-btn" >X</label>
            <h5>Create a New Parking Lot</h5>
            <form method="POST">
                <input type="text" name="lot_name" placeholder="Lot Prime Location Name" required><br>
                <input type="text" name="address" placeholder="Address" required><br>
                <input type="text" name="pincode" placeholder="Pincode" required><br>
                <input type="number" name="max_spots" placeholder="Max Spots" required><br>
                <input type="number" name="price" placeholder="Price per Hour" required><br>
                <button type="submit">Create Lot</button>
                        <label for="modal-toggle" class="btn btn-secondary cancel-btn">Cancel</label>
            </form>
        </div>
    </div>


    </div>
    <div class="occupancy">(Occupied: )</div>
    <hr>

    <div class="spot-grid">
        {% for spotss in spots %}
        {%for spot in spotss%}
        {%if spot['lot_id']== lot['id']%}
            <label for="modal-{{ spot[0] }}" class="spot {% if spot[3] == 'A' %}available{% else %}occupied{% endif %}">
                {{ spot[3] }}
            </label>

            <input type="checkbox" id="modal-{{ spot[0] }}" class="modal-toggle" hidden>

            <div class="modal">
                <div class="modal-content">
                    <label for="modal-{{ spot[0] }}" class="close-btn">X</label>
                    <h4>Spot #{{ spot[0] }}</h4>
                    <p>Status: {{ spot[3]}}</p>
                    <p>{{ spot[3] }}</p>
                </div>
            </div>
        {%endif%}
        {% endfor %}
        {%endfor%}
    </div>
</div>
{%endfor%}

<link rel="stylesheet" href="/static/popup.css">

<div style="margin-top: 40px; text-align: center;">
    <label for="modal-toggle" class="btn btn-primary"style="font-size:18px; padding:12px 24px;">+ Add Lot</label>
</div>
    <input type="checkbox" id="modal-toggle" class="modal-toggle" hidden>

    <div class="modal">
        <div class="modal-content">
            <label for="modal-toggle" class="close-btn" >X</label>
            <h5>Create a New Parking Lot</h5>
            <form method="POST">
                <input type="text" name="lot_name" placeholder="Lot Prime Location Name" required><br>
                <input type="text" name="address" placeholder="Address" required><br>
                <input type="text" name="pincode" placeholder="Pincode" required><br>
                <input type="number" name="max_spots" placeholder="Max Spots" required><br>
                <input type="number" name="price" placeholder="Price per Hour" required><br>
                <button type="submit">Create Lot</button>
                        <label for="modal-toggle" class="btn btn-secondary cancel-btn">Cancel</label>
            </form>
        </div>
    </div>



{%endblock%}


