<!-- extends base template and displays admin interface -->

{% extends 'base.html' %}
{% block title %} Parking App -Admin {% endblock %}
{%block leftside%} Welcome Admin {%endblock%}


{% block rightside %} 


{% endblock %}

{%block corner%}
<style>
  .upper-butten {
    background-color: #2a55e5;
    color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 1rem;
    text-decoration: none;
  }
</style>

  <div class="d-flex ms-auto" style="gap: 10px; font-family: 'Montserrat', sans-serif;">
  <a href="/admin/home" class="btn upper-butten">Home</a>
  <a href="/admin/users" class="btn upper-butten">Users</a>
  <a href="/admin/search" class="btn upper-butten">Search</a>
  <a href="/admin/summary" class="btn upper-butten">Summary</a>
  <a href="/admin/edit_profile" class="btn upper-butten">Profile</a>
  <a href="/admin/logout" class="btn upper-butten">Logout</a>
</div>

{% endblock %}

{% block content %}
    <h1 class="text-center">Welcome to the Parking Lot Booking App!</h1>
    <p class="text-center">Book slots easily from your device.</p>
{% endblock %}    
