.header {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.62rem;
    color: #0c2d9b;

    border: 3px double #007bff;
    border-radius: 15px;
    font-weight: bold;

    padding: 15px 30px;
    text-align: center;
    width: 100%;
    margin: 20px auto;

    background-color: white;
    box-sizing: border-box;
}

.line-break {
    border: none;
    border-top: 2px solid rgb(0, 0, 0);
    margin: 10px 0;
    width: 100%;
}

.table-container {
    border: 2px solid #007bff;
    border-radius: 12px;
    padding: 10px;
    width: fit-content;
    margin: 20px auto;
    font-family: 'Montserrat', sans-serif;
}

.styled-table {
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
}

.styled-table th,
.styled-table td {
    border-right: 2px solid #007bff;
    padding: 10px 15px;
    text-align: center;
    font-size: 1.25rem;
}

.styled-table th {
    color: green;
    font-weight: bold;
}

.styled-table td {
    color: black;
}

.styled-table th:last-child,
.styled-table td:last-child {
    border-right: none; 
}

.book-btn {
    background-color: #8ecaff;
    border: 2px solid #007bff;
    border-radius: 6px;
    padding: 5px 12px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.book-btn:hover {
    background-color: #007bff;
    color: white;
}

.btn-primary-book {
    background-color: #00ccff;
    color: rgb(0, 0, 0);
    border: 2px solid #000000;
    border-radius: 6px;
    padding: 5px 12px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary-book:hover {
    background-color: #00c3ff;
    color: white;
}
.btn-primary-parked {
    background-color: #00ff62;  
    color: rgb(0, 0, 0);
    border: 2px solid #000000;
    border-radius: 6px;
    padding: 5px 12px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary-parked:hover {
    background-color: #cc7a00;
    color: rgb(0, 0, 0);
}
.btn-primary-release {
    background-color: #ffc2b0;  
    color: rgb(0, 0, 0);
    border: 2px solid #000000;
    border-radius: 6px;
    padding: 5px 12px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary-release:hover {
    background-color: #e97f99;
    color: rgb(0, 0, 0);
}
.btn-primary-add {
    background-color: #32c4e9; 
    color: rgb(0, 0, 0);
    border: 2px solid #ee7f00;
    border-radius: 6px;
    padding: 5px 12px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary-add:hover {
    background-color: #00c3ff;
    border: 2px solid #ee7f00;
    color: #000000;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 600;
}
.display-6 {
    font-weight: 700;
}