<!-- extends base template and displays right side of navbar-->

{% extends 'base.html' %}
{% block title %} Home - Parking App {% endblock %}

{% block rightside %} 
<li class="nav-item"><a class="nav-link" href="/login" style="color: #990066;font-weight: bold;">Login</a></li>
<li class="nav-item"><a class="nav-link" href="/register" style="color: #990066;font-weight: bold;">Register</a></li>
{% endblock %}

{% block content %}
    <h1 class="text-center">Welcome to the Parking Lot Booking App!</h1>
    <p class="text-center">Book slots easily from your device.</p>
{% endblock %}
