<!-- extends base template and displays right side of navbar-->

{% extends 'base.html' %}
{% block title %} Home - Parking App {% endblock %}

{% block rightside %} 
<li class="nav-item"><a class="nav-link" style="color: #990066;font-weight: bold; font-size: 2rem;">FindMySpot</a></li><br>
<li class="nav-item"><a class="nav-link"  style="color: #990066;font-weight: bold; font-size: 2rem;"></a></li><br>
{% endblock %}

{% block content %}
    <h1 class="text-center" style="font-size: 1rem">Welcome to the Parking Lot Booking App!</h1>
    <p class="text-center">Book slots easily from your device.</p>
{% endblock %}
