<!-- extends base template and displays admin interface-->

{% extends 'base.html' %}
{% block title %} Parking App -User {% endblock %}

{%block leftside%} Welcome User {%endblock%}


{% block rightside %} 

{% endblock %}



{% block corner %}
<div class="d-flex ms-auto" style="gap: 10px; font-family: 'Montserrat', sans-serif; ">
  <a href="/user/home" class="btn" style="background-color: #2a55e5; color: white; padding: 8px 20px; border-radius: 8px; font-size: 1rem; text-decoration: none;">Home</a>
  <a href="/user/summary" class="btn" style="background-color: #2a55e5; color: white; padding: 8px 20px; border-radius: 8px; font-size: 1rem; text-decoration: none;">Summary</a>
  <a href="/user/edit_profile" class="btn" style="background-color: #2a55e5; color: white; padding: 8px 20px; border-radius: 8px; font-size: 1rem; text-decoration: none;">Profile</a>
  <a href="/user/logout" class="btn" style="background-color: #2a55e5; color: white; padding: 8px 20px; border-radius: 8px; font-size: 1rem;">Logout</a>
</div>
{% endblock %}

{% block content %}
    <h1 class="text-center">Welcome to the Parking Lot Booking App!</h1>
    <p class="text-center">Book slots easily from your device.</p>
{% endblock %}
