{% extends 'users/user_base.html' %}
{% block title %} Parking App -User {% endblock %}

{%block content%}
    <link rel="stylesheet" href="/static/view.css">



</div>
{% if booking_details %}
<div class="header">Recent Parking History</div>



<div class="table-container">
    <table class="styled-table">
        <thead>
            <tr>
                <th>Booking ID</th>
                <th>Location</th>
                <th>Vehicle Number</th>
                <th>Timestamp</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            {%for details in booking_details%}
            <tr>
                <td>{{details['id']}}</td>
                <td>{{details['pl']}}</td>
                <td>{{details['vn']}}</td>
                <td>{{datetime.fromtimestamp(details['tb']).strftime('%d-%m-%Y %H:%M:%S')}}</td>
                {%if details['b_status']=='open'%}
                <td><label for="release-modal-toggle-{{details['id']}}" class="btn btn-primary-release">Release</label>
                {%else%}
                <td><label for="parked_out-modal-toggle-{{details['id']}}" class="btn btn-primary-parked">Parked Out</label>
                {%endif%}        
                <link rel="stylesheet" href="/static/popup.css">
{%if details['b_status'] =='open'%}
    <input type="checkbox" id="release-modal-toggle-{{details['id']}}" class="modal-toggle" hidden>

    <div class="modal" id="release-modal-toggle-{{details['id']}}">
        <div class="modal-content">
            <label for="release-modal-toggle-{{details['id']}}" class="close-btn">X</label>
            <h5 class="modal-heading">Release the booked spot</h5>
            <form method="POST" class="booking-form-horizontal">
                <input type="hidden" name="form_type" value="release_spot">
                <input type="text" name="lot_id" value="{{details['li']}}" readonly  hidden >
            <div class="form-row">
                <label for="spot_number">Spot Number :</label>
                <input type="text" name="spot_number" value="{{details['sn']}}" readonly  ><br>
            </div>
            <div class="form-row">
                <label for="vehicle_number">Vehichle Number :</label>
                <input type="text" name="vehicle_number" value="{{details['vn']}}" readonly ><br>
            </div>
            <div class="form-row">
                <label for="parking_time">Parking Time :</label>
                <input type="text" name="parking_time"  value="{{datetime.fromtimestamp(details['tb']).strftime('%d-%m-%Y %H:%M:%S')}}" readonly><br>
            </div>
            <div class="form-row">
                <label for="release_time">Release Time :</label>
                <input type="text" name="release_time" value="{{ datetime.now().strftime('%d-%m-%Y %H:%M:%S') }}" readonly ><br>
            </div>
            <div class="form-row">    
                <label for="total_cost">Total Price :</label>
            <input type="text" name="total_cost" value="&#8377;{{ (((datetime.now().timestamp() - details['tb']) /3600 ) * details['price'])  | round(2) }}" readonly  ><br>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn-wide">Release</button>
                        <label for="release-modal-toggle-{{details['id']}}" class="btn-wide cancel-btn">Cancel</label>
            </div>
            </form>
        </div>
    </div></td>
{%else%}
    <input type="checkbox" id="parked_out-modal-toggle-{{details['id']}}" class="modal-toggle" hidden>

    <div class="modal" id="parked_out-modal-toggle-{{details['id']}}">
        <div class="modal-content">
            <label for="parked_out-modal-toggle-{{details['id']}}" class="close-btn">X</label>
            <h5 class="modal-heading">Booking Details</h5>

            <form method="POST"  class="booking-form-horizontal">
                <input type="hidden" name="form_type" value="release_spot">
                <input type="text" name="lot_id" value="{{details['li']}}" readonly  hidden >
            <div class="form-row">
                <label for="prime_location">Prime Location :</label>
                <input type="text" name="prime_location" value="{{details['pl']}}" readonly  >
            </div>
            <div class="form-row">
                <label for="spot_number">Spot Number :</label>
                <input type="text" name="spot_number" value="{{details['sn']}}" readonly  ><br>
            </div>
            <div class="form-row">
                <label for="vehicle_number">Vehichle Number :</label>
                <input type="text" name="vehicle_number" value="{{details['vn']}}" readonly ><br>
            </div>
            <div class="form-row">
                <label for="parking_time">Parking Time :</label>
                <input type="text" name="parking_time"  value="{{datetime.fromtimestamp(details['tb']).strftime('%d-%m-%Y %H:%M:%S')}}" readonly><br>
            </div>
            <div class="form-row">
                <label for="release_time">Release Time :</label>
                <input type="text" name="release_time" value="{{details['tr']}}" readonly ><br>
            </div>
            <div class="form-row">    
                <label for="total_cost">Total Price :</label>
            <input type="text" name="total_cost" value="{{details['paid_price']}}" readonly  ><br>
            </div>
            <div class="form-actions">
                <label for="parked_out-modal-toggle-{{details['id']}}" class="btn-wide cancel-btn">Cancel</label>
            </div>
            </form>
        </div>
    </div>
    </div></td>
{%endif%}



            
                
            </tr>
            {%endfor%}

{% else %}
<div class="header">No Parking History Found</div>
{% endif %}
        </tbody>
    </table>
</div>


<br>
<div class="line-break"></div>
<br>
<form method="POST">
<input type="hidden" name="form_type" value="search_parking">
<div style="display: flex; align-items: center; justify-content: center; gap: 0px; margin: 20px 0;">
  <div style="color: red; font-family: 'Comic Sans MS', 'Patrick Hand', cursive; font-size: 24px; font-weight: bold;margin-right: 10px;">
    Search Parking @location/Pincode
  </div>
<div style="width: fit-content; text-align: left; width: fit-content; text-align: left;">
  
  <input type="text"
         id="prime_location"
         name="prime_location"
         placeholder="Enter location or pincode"
         style="padding: 8px 12px; font-size: 16px; border-radius: 5px; border: 1px solid #ccc; width: 250px;">
             <button type="submit" class="btn btn-primary">Search</button>

</div>

    </form>

</div>
{% if parking_lots %}
{% if flag %}
<div class="header">All Available Parking Lots</div>
{%else%}
<div class="header">Parking Lots @{{parking_lots[0][1]}}</div>
{%endif%}
{% else %}
<div class="header">No Parking Lots Found</div>
{% endif %}

<div class="table-container">
    <table class="styled-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Prime Location Name</th>
                <th>Address</th>
                <th>Number of Availabile Spots</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if parking_lots %}
            {%for lot in parking_lots%}
            <tr>
                <td>{{lot[0]}}</td>
                <td>{{lot['prime_location']}}</td>
                <td>{{lot[3]}}</td>
                <td>{{lot['no_of_available']}}</td>
                <td><label for="book-modal-toggle-{{lot[0]}}" class="btn btn-primary-book">Book</label>
                        <link rel="stylesheet" href="/static/popup.css">


    <input type="checkbox" id="book-modal-toggle-{{lot[0]}}" class="modal-toggle" hidden>

    <div class="modal">
        <div class="modal-content">
            <label for="book-modal-toggle-{{lot[0]}}" class="close-btn">X</label>
<h3 class="modal-heading">Book a parking spot</h3>
<div class="form-wrapper">
<form method="POST" class="booking-form-horizontal">
    <input type="hidden" name="form_type" value="book_lot">

    <div class="form-row">
        <label for="spot_number">Spot ID:</label>
        <input type="text" id="spot_number" name="spot_number" 
            value="{%for data in available_slot_data%}{%if data[0]==lot['id']%}{{data[1]}}{%endif%}{%endfor%}" 
            readonly>
    </div>

    <div class="form-row">
        <label for="lot_id">Lot ID:</label>
        <input type="text" id="lot_id" name="lot_id" value="{{lot['id']}}" readonly>
    </div>

    <div class="form-row">
        <label for="user_email">User ID:</label>
        <input type="text" id="user_email" name="user_email" value="{{session['email']}}" readonly>
    </div>

    <div class="form-row">
        <label for="vehicle_number">Vehicle No:</label>
        <input type="text" id="vehicle_number" name="vehicle_number" required>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn-wide">Reserve</button>
        <label for="book-modal-toggle-{{lot[0]}}" class="btn-wide cancel-btn">Cancel</label>
    </div>
</form>
</div> 


        </div>
    </div></td>
                
            </tr>
            {%endfor%}
            {% else %}
    <tr><td colspan="5">No parking lots found.</td></tr>
{% endif %}
        </tbody>
    </table>
</div>

{%endblock%}