{% extends 'index.html' %}
{% block title %}User Login{% endblock %}

{% block content %}
<div style="display: flex; align-items: center; justify-content: center; height: 90vh;">
<div style="width: fit-content; margin: auto; font-family: 'Montserrat', sans-serif; border: 2px solid #000; border-radius: 15px; padding: 30px; box-shadow: 2px 2px 5px #aaa;">
    <h2 style="text-align: center; color: #0300ac; font-weight: bold;">Login</h2><br>
    <form method="POST">
        <table style="font-size: 1.2rem;">
            
            <tr>
                <td><label for="user_email">Email ID :</label></td>
                <td><input type="email" name="user_email" id="user_email" required style="width: 100%; border-radius: 10px; padding: 5px;"></td>
            </tr>
            <tr>
                <td><label for="user_password">Password :</label></td>
                <td><input type="password" name="user_password" id="user_password" required style="width: 100%; border-radius: 10px; padding: 5px;"></td>
            </tr>

        </table>

        <div style="text-align: center; margin-top: 20px;">
            <button type="submit" style="padding: 8px 20px; background-color: #87CEFA; border: none; border-radius: 8px; font-size: 1rem;">Login</button>
            <div style="margin-top: 10px;">
                <a href="/register" style="color: orange;  text-decoration: none;">Register here!</a>
            </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}
